* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .main {
    margin: 20px auto;
    width: 700px;
  }

  h1 {
    font-size: 1.9rem;
    font-weight: bolder;
  }

  fieldset:first-child {
    background-color: rgba(124, 203, 220, 0.9);
  }

  fieldset:first-child table {
    width: 100%;
  }

  fieldset:first-child table td {
    padding: 5px;
  }

  fieldset:first-child table td:first-child {
    max-width: 120px;
  }

  fieldset:first-child table input {
    padding: 2px;
  }

  .informationSuppClass{
      width: 100%;
      background-color: rgba(203, 220, 124, 0.9);
  }

  .informationSuppClass td{
      padding: 5px;
  }

  .informationSuppClass td input{
      margin-right: 2px;
  }

  .informationSuppClass button{
      margin: 3px;
      padding: 5px;
  }